<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="style.css">
  <title>Project_title</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="pagetitle">Relating property assessments to property taxes</h3>
        </div>
        <div class="col-xs-12 col-md-7 intro">
          <p>There are a number of factors that affect a homeowners property tax bill. It all starts with an "assessment" of what a home is worth ... then taxable amount ... then exemptions ... then the factor that matters the most is the tax rate set by governmental entities, such as the school districts, utility districts and city and county governments.</p>
          <p>We looked at a few home from around Central Texas to compare and contrast assessment impact on property tax bills.</p>
          <p>With so many variables at play, it is difficult to generalize. If you want to see your own tax assessments, they are available on your county assessor website: <a href="https://propaccess.trueautomation.com/clientdb/?cid=46" target="_blank">Bastrop</a> | <a href="http://esearch.hayscad.com/" target="_blank">Hays</a> | <a href="" target="_blank">Travis</a> | <a href="" target="_blank">Williamson</a>.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="img-responsive" src="images/main-map.png">

        </div>
      </div>

      <div class="row">
      {% for home in homes %}
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
            <hr>
            </div>
            <div class="col-xs-12 col-md-6 col-md-push-6">
              <!-- push for large+ -->
              <img class="img-responsive" src="images/{{ home.code }}.png"><br>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6 home-intro">
              <h2>({{ home.id }}) {{ home.neighborhood }} in {{ home.region }}</h2>
              <p>This {{ home.neighborhood }} home has <strong>{{ home.sqfoot }} square feet</strong>{% if home.bedrooms %}, <strong>{{ home.bedrooms }} bedrooms</strong> {% endif %} and <strong>{{ home.baths }} bathrooms</strong>.</p>
              <p>The appraised value <strong>{{ home.appdir }} {{ home.appchange }} percent</strong> between 2013 and 2017, and the total tax bill <strong>{{ home.taxdirection }} {{ home.taxchange }} percent</strong> in the same period.</p>
              <!-- optional take -->{% if home.opttext %}<p>{{ home.opttext }}</p>{% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <img class="img-responsive" src="images/{{ home.code }}-assessment.png">
            </div>
            <div class="col-xs-12 col-md-6">
              <img class="img-responsive" src="images/{{ home.code }}-tax-bill.png">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66319610-2', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="scripts.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
