<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="style.css">
  <title>How home values, tax rates affect your property tax bill</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="pagetitle">How home values, tax rates affect your property tax bill</h3>
        </div>
        <div class="col-xs-12 col-sm-7 intro">
          <p class="byline">By <a href="https://www.mystatesman.com/staff/christian-mcdonald/">Christian McDonald</a> - Austin American-Statesman<br>
          Published October 20, 2017</p>
          <p>Property taxes in Texas can be complicated. Your tax bills are calculated based on a combination of values set by the appraisal district, exemptions, and tax rates set by your elected officials. If your property values and exemptions don't change but tax rates go down, then your tax bill follow. If your tax rate stays the same, but your home value increases, then your tax bill increases, too.</p>
          <p><strong><a href="http://www.mystatesman.com/news/local/average-austin-property-tax-bill-hits-600-517-from-last-year/esmlWxSwzgnZiCxDWuhSwM/">STICKER SHOCK: Average Austin property tax bill hits $7,600, up $517 from last year</a></strong></p>
          <p>It all starts with the <strong>appraised value</strong> of your land and it’s “improvements” – your home, work sheds, stables and the like. Your county’s appraisal district is bound by state law to base their valuations on what your home would sell for. They do have an added challenge in that home sale prices are not public in Texas.</p>
          <p>There are some protections for property owners in the form of homestead exemptions for your owner-occupied primary residence. The <strong>assessed value</strong> starts with the appraised value, but then applies the state homestead exemption, if you have one. State law caps the amount assessed values can increase on homesteads at 10 percent a year. This is the base value taxing jurisdictions start with.</p>
          <p>Finally, the <strong>taxable value</strong> is the assessed value minus any other exemptions granted by the taxing jurisdiction, which can be different depending on the entity. For example, Travis County applies a 20 percent exemption for homesteads, but the City of Austin applies only 8 percent. Once the jurisdiction adopts their tax rate, it is applied to the taxable value for that entity. The combination of all the jurisdictions make up your tax bill.</p>
          <p>With so many variables at play, it is difficult to generalize how much Austin area tax bills have changed. So, we used appraisal district data to compare property tax changes for a few homes around Central Texas.</p>
          <p>If you want to see your own tax assessments and estimated bills, they are available on your county assessor website: <a href="https://propaccess.trueautomation.com/clientdb/?cid=46" target="_blank">Bastrop</a> | <a href="http://esearch.hayscad.com/" target="_blank">Hays</a> | <a href="" target="_blank">Travis</a> | <a href="" target="_blank">Williamson</a>.</p>
        </div>
        <div class="col-xs-12 col-sm-5">
          <h3>How some typical tax rates have changed over time</h3>
          <p>While tax rates have generally fallen in recent years, in many cases rising property values cancel out or overtake the drop, making for higher overall tax bills.</p>
          <img class="img-responsive" src="images/tax-rate-chart.png">
          <h3>Our example homes</h3>
          <img class="img-responsive" src="images/main-map.png">

        </div>
      </div>

      <div class="row">
      {% for home in homes %}
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
            <hr>
            </div>
            <div class="col-xs-12 col-sm-6 home-intro">
              <h2><span class="order">{{ home.id }}</span> {{ home.neighborhood }} in {{ home.region }}</h2>
              <p>This {% if home.bedrooms %}<strong>{{ home.bedrooms }} bedroom</strong>, {% endif %} <strong>{{ home.baths }} bath</strong> home in {{ home.neighborhood }} has <strong>{{ home.sqfoot }} square feet</strong>{% if home.acres %} on <strong>{{ home.acres }} acres</strong>{% endif %}.</p>
              <p>The appraised value <strong>{{ home.appdir }} {{ home.appchange }} percent</strong> from {{ home.app2013 }} in 2013 to {{ home.app2017 }} in 2017, and the total tax bill <strong>{{ home.taxdirection }} {{ home.taxchange }} percent</strong> from {{ home.bill2013 }} to {{ home.bill2017 }} in the same period.</p>
              <!-- optional take -->{% if home.opttext %}<p>{{ home.opttext }}</p>{% endif %}
            </div>
            <div class="col-xs-12 col-sm-6">
              <!-- push for large+ -->
              <img class="img-responsive" src="images/{{ home.code }}.png"><br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <img class="img-responsive" src="images/{{ home.code }}-assessment.png">
            </div>
            <div class="col-xs-12 col-sm-6">
              <img class="img-responsive" src="images/{{ home.code }}-tax-bill.png">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66319610-2', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="scripts.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
